.container {
  background-color: white;
  background-size: 100%;
}
.container1 {
  background-color: white;
  background-size: 100%;
}
.header {
  color: teal;
}
.header1 {
  color: white;
}

floss {
  text-decoration-color: white;
}

.button {
  margin: 5px;
  width: 75px;
}

.logout {
  float: right;
  margin-right: 10px;
  display: inline-block;
}

.home {
  float: right;
  display: inline-block;
}

.homeBackground {
  background: black;
  background-size: cover;
}

.overflow {
  height: 300px;
  overflow: scroll
}
