<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href=""></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref='home'>Index</a></li>
        <li ng-if='ctrl'><a ui-sref'/logout'>Logout</a></li>
        <li><a ui-sref='email'>Contact Us</a></li>
        <li><a ui-sref='login'>Login</a></li>
        <li><a ui-sref='blog'>Blog</a></li>
        <li><a ui-sref='register'>Register</a></li>
    </ul>
  </div>
</nav>

<!-- <div class="container">
  <h2 class="header">See what we've done recently at the Shop! </h2>
    <form name="ctrl.newBlog" ng-submit="ctrl.addBlog()">
      <label>Title</label>
      <input type="text" name="title" ng-model="ctrl.blog.title">
      <label>Content</label>
      <input type="text" name="content" ng-model="ctrl.blog.content">
      <input type="submit" value="Add" class="waves-effect waves-light btn">
    </form>

</div> -->
<body ng-controller="BlogController as blogCtrl">
  <h1>This is a test</h1>
  <div ng-repeat="blog in blogCtrl.all">
    <p>
      <input type="text" ng-model="blog.title">

      <label for ="blog-difficulty">Difficulty</label>
      <input type="number" id="blog-difficulty" min ="1" max="3" placeholder="1" ng-model='blog.difficulty' />

      <label for ="blog-priority">Priority</label>
      <input type="number" id="blog-priority" min ="1" max="3" placeholder="1" ng-model='blog.priority' />


      <button ng-click="blogCtrl.updateBlog(blog)">Update</button>
      <!-- <span ng-click="blogCtrl.completeblog(blog)">{{blog.title}}</span> -->
      <button ng-if="!blog.isComplete" ng-click="blogCtrl.completeblog(blog)">Complete</button >
      <span ng-if="blog.isComplete">...Done</span>

      <button ng-click="todoCtrl.deleteTodo(todo)">Delete</button>
    </p>
  </div>
  <form class="add-todo" ng-submit="todoCtrl.addTodo()">
    <div>
      <label for ="new-todo-title">Task</label>
      <input type="text" id="new-todo-title" placeholder="Take out the trash" ng-model='todoCtrl.newTodo.title' />

      <label for ="new-todo-difficulty">Difficulty</label>
      <input type="number" id="new-todo-difficulty" min ="1" max="3" placeholder="1" ng-model='todoCtrl.newTodo.difficulty' />

      <label for ="new-todo-priority">Priority</label>
      <input type="number" id="new-todo-priority" min ="1" max="3" placeholder="1" ng-model='todoCtrl.newTodo.priority' />
      <input type="submit">
    </div>
  </form>
</body>
