
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref='home'>Index</a></li>
        <li><a href='/logout'>Logout</a></li>
        <li><a ui-sref='email'>Contact Us</a></li>
        <li><a ui-sref='login'>Login</a></li>
        <li><a ui-sref='blog'>Blog</a></li>
        <li><a ui-sref='register'>Register</a></li>
      </ul>
    </div>
  </nav>
<div>
<div class="container">

    <h1 class="header">Login</h1>

    <form action="/login" method="post" class="form-horizontal">

      <div class="form-group">
        <div class="col-sm-8">
          <label class="control-label">Username</label>
          <input class="form-control" type="text" name="username"/><br/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8">
          <label class="control-label">Password</label>
          <input class="form-control" value="password" type="password" name="password"/>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8">
          <input class="btn btn-default" type="submit" value="Submit"/>
        </div>
      </div>

    </form>

</div>
